@use "rest"; //css rest
@use "global"; //global
@import "mixins";
@import "base";

.container {
  display: flex;
  flex-direction: column;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: $default-padding;
  padding-bottom: 0;
  gap: calc($default-padding * 4);

  @include mobile {
    gap: calc($default-padding * 2);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $default-padding;

  @include mobile {
    font-size: 1.4rem;
  }
}

.logo-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 500;

  &__logo {
    width: 4rem;
    max-width: 100%;
  }
}
.links {
  display: flex;
  align-items: center;
  gap: $default-padding;

  @include mobile {
    gap: calc($default-padding/2);
  }

  &__link {
    color: $color-very-dark-blue;
    transition: color $timing-animation ease-in-out;

    &:hover {
      color: $color-soft-red;
    }
  }
}

.section {
  display: flex;
  align-items: center;
  gap: calc($default-padding * 2);

  @include mobile {
    flex-direction: column;
  }
  &.section--one--column {
    flex-direction: column;
    gap: calc($default-padding / 2);
  }
  &:nth-of-type(1) &__title {
    font-size: 4.2rem;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc($default-padding / 2);
  }

  &__description {
    font-size: 1.2rem;
    color: $color-grayish-blue;

    .section--one--column {
      max-width: 50rem;
      text-align: center;
    }
  }
  &__buttons {
    display: flex;
    margin-top: $default-padding;
    gap: $default-padding;
  }
  &__button:not(.card__button) {
    @include mobile {
      flex: 1;
      text-align: center;
    }
  }
  &__imageContent {
    flex: 1;
    display: flex;
    @include mobile {
      order: -1;
    }
  }
  &__image {
    max-width: 100%;
  }
}

.cards {
  display: flex;
  gap: $default-padding;
  width: 100%;
  margin-top: calc($default-padding * 2);
  justify-content: space-between;
  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 26rem;
  gap: $default-padding;
  padding: calc($default-padding * 2) $default-padding $default-padding;
  &__image {
    width: 6rem;
    max-width: 100%;
  }
  &__title {
    font-size: 1.8rem;
  }
  &__button {
    position: relative;
    align-self: stretch;
    text-align: center;
    margin-top: auto;

    &::before {
      content: "";
      position: absolute;
      background: url("../images/bg-dots.svg") repeat-x;
      background-size: contain;
      height: 0.3rem;
      top: calc($default-padding * -1.4);
      right: calc($default-padding * -1);
      left: calc($default-padding * -1);
    }
  }
}

.faq {
  max-width: 50rem;
  margin-top: calc($default-padding * 1.5);
  border-top: 1px solid $color-grayish-blue;
  border-bottom: 1px solid $color-grayish-blue;
  &__row {
    position: relative;
    padding: $default-padding 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid $color-grayish-blue;
    }
  }

  &__arrow {
    position: absolute;
    width: 1.2rem;
    max-width: 100%;
    right: 0;
    top: calc($default-padding + 0.6rem);
    transition: transform $timing-animation ease-in-out;
  }
  &__input {
    display: none;
    &:checked ~ .faq__answer {
      opacity: 1;
      max-height: 30rem;
      padding-top: $default-padding;
    }
    &:checked ~ .faq__arrow {
      transform: rotate(180deg);
    }
  }

  &__question {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
  }
  &__answer {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0;
    transition: all $timing-animation ease-in-out;
    max-height: 0.1rem;
    overflow: hidden;
  }
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $default-padding;
  color: $color-off-white;
  @include mobile {
    flex-direction: column;
    gap: $default-padding;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: $color-very-dark-blue;
    z-index: -1;
  }

  &__copy {
    font-size: 1.2rem;
    font-weight: 400;
  }
  &__left {
    margin-right: auto;
    @include mobile {
      margin-right: 0;
    }
  }
}
