@forward "base"; //css vcariables
@use "rest"; //css rest
@use "global"; //global

.container {
  display: flex;
  flex-direction: column;
  max-width: $desktop-width;
  margin: 0 auto;
  padding: $default-padding;
  gap: calc($default-padding * 4);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $default-padding;
}

.logo-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 500;

  &__logo {
    width: 4rem;
    max-width: 100%;
  }
}
.links {
  display: flex;
  align-items: center;
  gap: $default-padding;

  &__link {
    color: $color-very-dark-blue;
    transition: color $timing-animation ease-in-out;

    &:hover {
      color: $color-soft-red;
    }
  }
}

.section {
  display: flex;
  align-items: center;
  gap: calc($default-padding * 2);

  &.section--one--column {
    flex-direction: column;
    gap: calc($default-padding / 2);
  }
  &:nth-of-type(1) &__title {
    font-size: 4.2rem;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: calc($default-padding / 2);
  }

  &__description {
    font-size: 1.2rem;
    color: $color-grayish-blue;

    .section--one--column {
      max-width: 50rem;
      text-align: center;
    }
  }
  &__buttons {
    display: flex;
    margin-top: $default-padding;
    gap: $default-padding;
  }
  &__imageContent {
    flex: 1;
  }
  &__image {
    max-width: 100%;
  }
}

.cards {
  display: flex;
  gap: $default-padding;
  width: 100%;
  margin-top: calc($default-padding * 2);
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 26rem;
  gap: $default-padding;
  padding: calc($default-padding * 2) $default-padding $default-padding;
  &__image {
    width: 6rem;
    max-width: 100%;
  }
  &__title {
    font-size: 1.8rem;
  }
  &__button {
    position: relative;
    align-self: stretch;
    text-align: center;
    margin-top: auto;

    &::before {
      content: "";
      position: absolute;
      background: url("../images/bg-dots.svg") repeat-x;
      background-size: contain;
      height: 0.3rem;
      top: calc($default-padding * -1.4);
      right: calc($default-padding * -1);
      left: calc($default-padding * -1);
    }
  }
}

.faq {
  max-width: 50rem;
}
