* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%; /* Set base font size to 10px for easier rem unit calculation */
}

body {
  font-size: 1.6rem; /* Set default font size to 16px */
  font-family: "Rubik", sans-serif; /* Set default font family */
}

.button {
  color: #f7f7f7;
  padding: 1.2rem 2.4rem;
  background-color: #5368df;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.button--secondary {
  background-color: #f7f7f7;
  color: #5368df;
}
.button--disabled {
  background-color: #9194a1;
  color: #f7f7f7;
  cursor: not-allowed;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  gap: 8rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.logo-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.logo-content__logo {
  width: 4rem;
  max-width: 100%;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.links__link {
  color: #252b46;
  transition: color 0.2s ease-in-out;
}
.links__link:hover {
  color: #fa5757;
}

.section {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.section.section--one--column {
  flex-direction: column;
  gap: 1rem;
}
.section:nth-of-type(1) .section__title {
  font-size: 4.2rem;
}
.section__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section__description {
  font-size: 1.2rem;
  color: #9194a1;
}
.section__description .section--one--column {
  max-width: 50rem;
  text-align: center;
}
.section__buttons {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.section__imageContent {
  flex: 1;
}
.section__image {
  max-width: 100%;
}

.cards {
  display: flex;
  gap: 2rem;
  width: 100%;
  margin-top: 4rem;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0.4rem 0.8rem 0.2rem rgba(0, 0, 0, 0.1);
  width: 25rem;
  height: 26rem;
  gap: 2rem;
  padding: 4rem 2rem 2rem;
}
.card__image {
  width: 6rem;
  max-width: 100%;
}
.card__title {
  font-size: 1.8rem;
}
.card__button {
  position: relative;
  align-self: stretch;
  text-align: center;
  margin-top: auto;
}
.card__button::before {
  content: "";
  position: absolute;
  background: url("../images/bg-dots.svg") repeat-x;
  background-size: contain;
  height: 0.3rem;
  top: -2.8rem;
  right: -2rem;
  left: -2rem;
}

.faq {
  max-width: 50rem;
  margin-top: 3rem;
  border-top: 1px solid #9194a1;
  border-bottom: 1px solid #9194a1;
}
.faq__row {
  position: relative;
  padding: 2rem 0;
}
.faq__row:not(:last-of-type) {
  border-bottom: 1px solid #9194a1;
}
.faq__arrow {
  position: absolute;
  width: 1.2rem;
  max-width: 100%;
  right: 0;
  top: 2.6rem;
  transition: transform 0.2s ease-in-out;
}
.faq__input {
  display: none;
}
.faq__input:checked ~ .faq__answer {
  opacity: 1;
  max-height: 30rem;
  padding-top: 2rem;
}
.faq__input:checked ~ .faq__arrow {
  transform: rotate(180deg);
}
.faq__question {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.faq__answer {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  max-height: 0.1rem;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */